p {
  font-family: Poppins;
  font-size: 16px;
  color: #dcdcdc;
  font-weight: 400;
}
h1,h2,h3,h4 {
  font-family: "Playfair Display";
}
h1 {
  font-weight: 800;
  font-size: 48px;
  margin-top: 10px;
}
@media (max-width: 780px) {
  h1 {
    font-size: 26px;
    font-weight: 400;
  }
}
h2 {
  font-family: Playfair-Display;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
}
@media (max-width: 800px) {
  h2 {
    font-size: 24px;
    font-weight: 350;
  }
}
h3 {
  font-size: 22px; 
  font-weight: 600;
  }
  @media (max-width: 480px) {
    h3 {
      font-size: 20px;
      font-weight: 300;
    }
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
  }
  @media (max-width: 480px) {
    h4 {
      font-size: 16px;
      font-weight: 250;
    } 
  }

  .header-awards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
  }
  .nok-logo {
    margin-left: 8px;
    padding-top: 20px;
    display: inline;
  }
  .topnav-right a{
    /* display: inline;   */
    justify-content: end;  
    font-family: Poppins;
    margin-right: 48px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  } 
  
  .hamburger-icon {
    width: 60px;
    margin-right: 48px;
    padding: 10px;
    display: none;
  }
  @media (max-width: 1080px){
    .hamburger-icon {
      display: block;
    }
    .topnav-right{
      display: none;
    }
  } 
 
.awards-nok {
  display: flex;
  justify-content: center;
  margin: 0px;
}


.left-awards, .right-awards {
  height: 900px;
  width: 50%;
}
.left-awards {
  background-image: url(../images/Heavenly4bg.png);
   background-repeat:  no-repeat;
  background-size: cover;
  /* padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 0px; */
  /* background-position: top; */
   }

 #black-overlay-left-awards{
  position: relative;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.8);
  margin-left: 0;
  z-index: 10;
}  

   .left-awards h2  {
     padding-top: 32px;
     padding-bottom: 0px;
     color: #fff;
     margin-left: 60px;
}
 @media (max-width: 800px) {
  .left-awards h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1;
  }
}
  @media (max-width: 600px){
    .left-awards h2{
      font-size: 20px;
      font-weight: 800;
    }
  } 

  .expo {
  padding-top: 40px;
}
/* bring this back if carousel doesnt work */
   /* .right-awards {
    background-image: url(../images/Heavenly1.jpg);
     background-repeat: repeat no-repeat;
    background-size: cover;
    background-position: top; 
     } */

  

  

 #black-overlay-left-awards{
  position: relative;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.81);
  margin-left: 0;
  z-index: 1;
}   
.nokawards,p {
  margin-top: 16px;
  line-height: 1;
  margin-left: 60px;
  } 
  @media screen and ( min-width:1120px){
  .nok-awards,p {
    margin-bottom: 24px;
  }
}  
#carousel {
  height: 100%;
  overflow:hidden;
  width: 100%;
/* height: 900px; */
}
@media (max-width: 850px) {
  #carousel {
    height: 50%;
    overflow: hidden;
  }
}
.carousel-item {
  width: 100%;
  height: 100%;
}
@media (max-width: 980px){
  .carousel-item {
    height: 50%;
     overflow: hidden; 
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
}
@media (max-width: 1100px){
  .carousel-item {
  max-height: 100%;
}
}
@media (max-width: 1100px){
  .carousel-item {
  max-height: 100%;
  margin-bottom: 10px;
}
}
.shane img{
height: 100%;
width: 100%;
}
@media (min-width:850px){
  .shane{
    display: none; 
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 0px;
  }

}

body {
  background-color: #000;
}

.footer{
  display: flex;
  justify-content: center;
  height: 280px;
  width: 100%;
  margin-top: 80px;
}

.contact-partners{
  width: 208px;
  margin: auto;  
}
.contact-social{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  }
 
.contact-social a{
  text-decoration: none;
  padding: 8px; 
  font-family: "Poppins";
}

.contact-address p{
  margin: auto; 
  text-align: center;
  margin-top: 20px;
  width: 700px;
  margin-bottom: 40px;
}
  @media screen and (max-width:780px){
  .contact-address p {
    width:395px;
  }  
  }