p {
  font-family: Poppins;
  font-size: 16px;
  color: #dcdcdc;
  font-weight: 400;
}
h1,h2,h3,h4 {
  font-family: "Playfair Display";
}
h1 {
  font-weight: 800;
  font-size: 48px;
  margin-top: 10px;
}
@media (max-width: 480px) {
  h1 {
    font-size: 26px;
    font-weight: 400;
  }
}
h2 {
  font-family: Playfair-Display;
  color: #fff;
  font-weight: 700;
  font-size: 32px;
}
@media (max-width: 480px) {
  h2 {
    font-size: 24px;
    font-weight: 350;
  }
}
h3 {
  font-size: 22px; 
  font-weight: 600;
  }
  @media (max-width: 480px) {
    h3 {
      font-size: 20px;
      font-weight: 300;
    }
  }
  h4 {
    font-size: 18px;
    font-weight: 500;
  }
  @media (max-width: 480px) {
    h4 {
      font-size: 16px;
      font-weight: 250;
    } 
  }

  .header-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
  }
  .nok-logo {
    margin-left: 8px;
    padding-top: 20px;
    display: inline;
  }
  .topnav-right a{
    justify-content: end;  
    font-family: Poppins;
    margin-right: 48px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  } 
  
  .hamburger-icon {
    width: 60px;
    padding: 10px;
    display: none;
    margin-right: 48px;
  }
 
  @media (max-width: 1080px){
    .hamburger-icon {
      display: block;
    }
    .topnav-right{
      display: none;
    }
  } 

.direct-nok {
  display: flex;
  margin: 0;
}

.left-direct, .right-direct{
  flex-direction: column;
  width: 50%;
}

.left-direct {
  background-image: url(../images/Heavenly5.just.bg.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width:680px){
  .left-direct{
    width: 120%;
}
}
#black-overlay-left-direct {
  background-color:rgba(0,0,0,0.85);
  margin-left: 0;
  z-index: 10;
  padding-bottom: 20px; 
}
@media (max-width:680px){
  #black-overlay-left-direct{
    width: 100%;
    padding-bottom: 0;
}
}


 .contact-details-header {
  font-family: Poppins;
  font-weight: regular;
  color: white;
  font-size: 24px;
  margin-left: 60px;
  margin-top: 0px;
  padding-top: 60px;
} 

.noddys-address p {
    display: block;
    line-height: 1.5;
    font-family: Poppins;
    list-style: none;
    font-size: 16px;
    margin-left: 60px;
  }
   .noddys-address a {
    font-size: 16px;
    display: block;
    color:  #70A2C7;
    cursor: pointer;
    text-decoration: none;
  } 

    table  {
      display: flex;
      margin-left: 60px;
      text-align: left;
      font-family: "Poppins";
      font-size: 16px;
    }
    
    th, td{
      color: #fff;
      }

    td {
        color: #fff;
        padding-left: 90px;
      } 
      @media (max-width:680px){
        td{
          padding-left: 30px;
      }
    }

    .direct-nok p {
      margin-left: 60px;
      color: #dcdcdc;
    }
    @media (max-width:680px){
      .direct-nok p{
        font-size:16px;
        width: 300px
      }
    }

    .parking {
      color: white;
      margin-left: 60px;
      margin-top: 40px;
      margin-bottom: 4px;
    }
    @media (max-width:680px){
      .parking{
        font-size:26px;
      }
    }
    #hours {
      color: white;
      margin-left: 60px;
      margin-top: 40px;
      margin-bottom: 8px;
    }
    @media (max-width:680px){
      #hours{
        font-size:26px;
      }
    }
    #train {
      color: white;
      margin-left: 60px;
     
    }
    @media (max-width:680px){
      #train{
        font-size:26px;
      }
    }
    #bus {
      color: white;
      margin-left: 60px;
      margin-top: 0px;
     }
     @media (max-width:680px){
      #bus{
        font-size:26px;
      }
    }
  .right-direct { 
    display: flex;  
    width: 50%;
    position: relative;
    background-color:rgba(0,0,0,0.8);
     margin-left: 0;
     z-index: 0;
     padding-bottom: 0px;
   } 
   @media (max-width: 680px){
    .right-direct{
      display: none;
      width: 100%;
    }
   }
   .small-map {
    position: relative;
    width: 100%;
    height: 200px;
    padding-bottom: 0px;
  }
@media (min-width: 680px){
  .small-map{
    display: none;
  }
}
   
  
  #map,iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
  }
   @media (min-width:680px){
    #map,iframe {
      display: show;
  }
  } 

  
    body {
      background-color: #000;
    }
    
    .footer{
      display: flex;
      justify-content: center;
      height: 280px;
      width: 100%;
    }
    @media (max-width:680px){
      .footer{
        margin-top: 0px;
    }
  }
    .contact-partners{
      width: 208px;
      margin: auto;  
    }
  
   .contact-social{
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      
    }
    .contact-social a{
      text-decoration: none;
        padding: 8px; 
       font-family: "Poppins";
    }
    .contact-address {
      margin: auto; 
      text-align: center;
      margin-top: 20px;
      font-size: 16px;
      width: 700px;
      margin-bottom: 40px;
    }
    @media screen and (max-width:780px){
      .contact-address  {
        width:395px;
      }
    }
 