.header-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
}
.nok-logo {
  margin-left: 8px;
  padding-top: 20px;
  display: inline;
}
.topnav-right {
   /* display: flex;  */
  /* display: inline;   */
  justify-content: end;  
  font-family: Poppins;
  margin-right: 48px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
} 

@media screen and (max-width: 1250px){
  .topnav-right{
    margin-right: 40px;
  }
}
@media screen and (max-width: 1085px){
  .topnav-right{
    margin-right: 20px;
}
}

/* Hamburger Styles */
.hamburger-menu{
  background-color: rgba(0,0,0,0.91);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 15px 30px;
  position: fixed;
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
  text-align: right;
 }
 /* @media screen and (max-width: 1085px){
   .hamburger-menu{
     display: block;
   }
 } */
 
 .hamburger-menu a {
   color: #fff;
   display: block;
   font-size: 16px;
   margin: 24px auto;
   text-align: center;
   text-decoration: none;
 }
 .menu-close {
   cursor: pointer;
   width: 28px;
   margin: 20px;
   margin-right: 48px;
   padding-top: 12px;
 }

 .menu-open {
   transform: translateX(0%);
   opacity: 1;
 }