/* CSS Document */



body

{

margin-top:50px;

text-align:center;

}

 

.center	{ 

	text-align: center;

	background-color: white;

	margin-left: auto;

	margin-right: auto;

	width:911px;

} 

 

div

{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#8D8B8C;

	top: auto;

} 



.upper_color

{

background-color:#646464;

height:22px;



}



.lower_color

{

	position:relative;

	background-color:#C0BEBF;

	height:14px;

	width: 913;

}



.border_leftright

{

border-left: 1px solid #808598; 

border-right: 1px solid #808598; 

}



.left_position

{

text-align:left;

float:left;

width:280px;

}



.right_position

{

text-align:left;

float:right;

width:630px;

height:21px;

padding-top:10px;

}



.div01

{

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size:11px;

color:#8d8d8d;

text-decoration:none;

padding-left:15px;

}



.div01:hover

{

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size:11px;

font-weight:bold;

color:#05a4f6;

text-decoration:none;

padding-left:15px;

}



.div02

{

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	font-weight:normal;

	color:#8d8d8d;

	text-decoration:none;

	line-height:normal;

}

.address

{

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size:11px;

font-weight:normal;

color:#8d8d8d;

text-decoration:none;

line-height:13px;

}

.addlink

{

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size:11px;

font-weight:normal;

color:#8d8d8d;

text-decoration:none;

line-height:25px;

}

.addlink:hover

{

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size:11px;

font-weight:normal;

color:#05a4f6;

text-decoration:none;

line-height:25px;

}

.div03

{

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size:11px;

color:#8d8d8d;

text-decoration:none;

}

#caption {

visibility:visible;

}

.div04

{

font-family: Verdana, Arial, Helvetica, sans-serif;

font-size:10px;

color:#8d8d8d;

text-decoration:none;

letter-spacing:normal;

text-decoration:none;

}

.div04:hover

{

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size:10px;

	text-decoration:none;

	letter-spacing:normal;

	color:#2BB2F8;

	text-decoration:none;

}

.div05

{

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#8d8d8d;

	text-decoration:none;

	letter-spacing:normal;

	text-decoration:none;

	padding-top: 4px;

}

.div05:hover

{

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;

	color:#2BB2F8;

	text-decoration:none;

	letter-spacing:normal;

	text-decoration:none;

    padding-top: 4px;

}

.inner_brd

{

border:#848790 1px solid;

position:relative;

width:911px;

}



.inner_body_left

{
	float:left;
	width:430px;
	position:relative;
	padding-left: 40px;
	padding-top: 28px;
}



.details_footer

{

height:18px;

position:relative;

padding-top:7px;

}









.inner_container

{

position:relative;

top:0px;

width:911px;

}	



.inner_container01

{

position:relative;

top:0px;

width:911px;

float:left;

}	



.top_left

{

text-align: left;

width:280px;

float:left;

top:0px;

}



.top_right

{

text-align: left;

width:550px;

float:right;

top:0px;

height:21px;

padding-top:56px;

}



.inner_brd01

{
	border:#848790 1px solid;
	position:relative;
	width:911px;
	height: 529px;
}



.inner_left

{

text-align: left;

width:231px;

float:left;

top:0px;

}



.inner_right

{

text-align: right;

float:right;

top:0px;

}



.nscontainer01

{

margin: 0,0,500,500;

}



.nscontent

{

z-index:-1;

}



.collection

{

	width:380px;

	margin:0px auto;

	

	

}	



.collection_img

{

float:left;

width:94px;

height:100px;

text-align:left;

margin-top:0px;

}





.collection_footer01

{

float:left;

width:504px;

top:0px;

}

.collection_footer02

{

float:left;

width:240px;

top:0px;

}



/* 

#left	

{

	width:263px;;

	float:left;

	

	top:0px;

}



#right

{

	width:646px;

	float:right;

	top:0px;

}



*/



.lower_address {

	font-size: 11px;

	font-style: normal;

	color: #8D8B8C;

	float: left;

	height: 14px;

	width: 913px;

}

.lower_address {
	font-size: 11px;
	font-style: normal;
	color: #8D8B8C;
	float: left;
	height: 16px;
	width: 913px;
	text-align: left;

}
